*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}


.menu{
    height: 100px;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container{
    max-width: 800px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    object-fit: cover;
}

.navegation{
    margin-right: 0;
}

.nav-items{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-items li{
    list-style: none;
}

.nav-items li a{
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-items li a:hover{
    color: #ec9149;
}

.call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 100px;
    height: 450px;
    gap: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagen\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        text-transform: uppercase;
        color: white;
    }

    p{
        color: white;
    }


    button{
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        max-width: 150px;
        padding: 10px 30px;
        background-color: #d5185a;
        border-radius: 25px;
        border: none;
    }
    
    button:hover{
        background-color: #752466;
    }

    img{
        max-width: 70%;
        max-height: 55%;
    }

}

.quality-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 50px 0;

    button{
        flex: 1;
        display: flex;
        justify-content: center;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        max-width: 150px;
        padding: 10px 30px;
        background-color: #fb8322;
        border-radius: 25px;
        border: none;
        margin-right: 100px;
    }

    button:hover{
        background-color: #d5185a;
    }
    
}

.info{
    align-items: center;
    background-color: #752466;
    height: 40px;
    display: flex;
}

.info h5{
    color: white;
    margin-right: 45px;
}

.icono1{
    margin-left: 80px;
}

.redes{
    margin-left: 450px;
    
}

.red{
    margin: 5px;
    color: white;
}


.quality-element{
    max-width: 70%;
    margin: 20px;

    h1{
        padding-bottom: 20px;
    }
}

.services{
    display: flex;
    width: 100%;
    max-height: 850px;
}

.service-element{
    width: 100%;
    height: 350px;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    color: white;
    background-size: cover;
    div{
        height: 25%;
        h2{
            text-transform: uppercase;
            font-size: 14px;
            padding-bottom: 5px;
        }
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 4px solid #d41756;
    }
}

#service{
    background-image: url(https://www.ingridkuhn.com/themes/unitedpets/img/box1.jpg);
}

#about{
    background-image: url(https://www.ingridkuhn.com/themes/unitedpets/img/box2.jpg);
}

#team{
    background-image: url(https://www.ingridkuhn.com/themes/unitedpets/img/box3.jpg);
}



